
@model IEnumerable<ProductModel>  

@{
    ViewData["Title"] = "Index";
}

@*<button type="submit"><a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AddProduct">Add Product</a></button>*@

<table class="table table-bordered table-striped" styel="width:100%">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Prize
            </th>
            <th>
                Edit
            </th>
            <th>
               Delete
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td width="50%">
                    @product.Name
                </td>
                <td width="30%">
                    @product.Price
                </td>
                 <td >
                  <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"> Edit </a>

                </td>
                <td >
                  <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"> Delete </a>

                </td>
                 <td >
                  <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id"> Details </a>

                </td>
            </tr>
            }
    </tbody>
</table>

