@model WareHouseViewModel

<h1 style="text-align:center" >@Model.Name details</h1>


<br />
<table class="ProductTable" styel="width:100%">
    <thead>
  
        <tr>
            <th>
                Product Name
            </th>
            <th>
               PurchasePrice
            </th>
            <th>
                SellPrice
            </th>
             <th>
                ProQnty
            </th>
            <th>
                Purchase Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model.ProductList)
        {
            <tr>
                <td width="20%">
                    @product.Name
                </td>
                <td width="20%">
                    @product.PurchasePrice
                </td>
                <td width="15%">
                    @product.SellPrice
                </td>
                <td width="15%">
                    @product.ProductQnty
                </td>
                 <td width="15%">
                    @product.CreateDateOn
                </td>
              
               
            </tr>
        }
    </tbody>
</table>


